/* Create a 3 * 2 grid layout */

/* option1 */
/* .container {
  display: grid;
  grid-template-rows: 100px 100px 100px;
  grid-template-columns: 100px 100px;
  height: 100vh;
} */

/* option2 - use repeat() function */
.container {
  display: grid;
  grid-template: repeat(3, 100px) / repeat(2, 100px);
}

.box {
  background-color: gold;
}
